// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content{
    background-image: url('../assets/img/bg.png');
    // background: url('../../img/getstart.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.textlogo{
    width: auto;
    margin: auto;
    display: block;
    // margin-top: 15%;
    // margin-bottom: 10%;
}
.toolbar-background{
  background:#3D72A9;
  border-width:0 0 0 !important;
}
.back-button{
  color:#fff;
}
.bar-button{
  color:#fff;
}
.toolbar-title{
  color:#fff;
}