//styles for this particular input page
page-input {
  .card{
    width: 100%;
    margin: 0;
    background: #F8E71C;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  mt20{
    margin-top: 10%;
  }
  .custombtn{
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
